/* Bootstrap / CSS */

.image{
	height: 160px;
    width: 160px;
}

.row{
	margin: 50px 0;
}

button{
	position: relative;
	margin: 0 auto;
}

.row{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.container-fluid{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.char-row{
	margin-top: 10px;
	margin-bottom: 10px;
}


#button-attack{
	margin: auto;
	margin-bottom: 10px;
}

.stats{
	padding: 0;
	margin: 0;
}

.char-title{
	padding: 0;
	margin: 0;
}

.stats-right{
	float: right;
}